<%= form_with(model: project, method: "get", url: "/hexfield") do |form| %>
  <% if project.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(project.errors.count, "error") %> prohibited this project from being saved:</h2>

      <ul>
        <% project.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :name, style: "display: block" %>
    <%= form.text_field :name %>
  </div>

  <div>
    <%= form.label :visibility, style: "display: block" %>
    <%= form.number_field :visibility %>
  </div>

  <div>
    <%= form.submit %>
    <button type="button" id="submit">
      Submit Async
    </button>
  </div>
<% end %>

<script type="module">
import { FetchRequest } from '@rails/request.js'

async function doot() {
  const form = document.querySelector("form");
  const fd = new FormData(form);
  const request = new FetchRequest('post', '/projects', {body: fd})
  request.perform().then(
    response =>
    {
      if (response?.ok) {
        return response.text
      }
    }
  ).then( body =>
  {
    console.log("got response body:", body)
  }
  ).catch( err =>
  {
    console.log("error", err);
  });
}

document.querySelector("#submit").addEventListener("click", doot);
</script>