<%= form_with(model: project, method: "get", url: "/edit") do |form| %>
  <% if project.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(project.errors.count, "error") %> prohibited this project from being saved:</h2>

      <ul>
        <% project.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :name, style: "display: block" %>
    <%= form.text_field :name %>
  </div>

  <div>
    <%= form.label :visibility, style: "display: block" %>
    <%= form.number_field :visibility %>
  </div>

  <%# TODO: remove owner_id field; handled by backend %>
  <%= form.hidden_field :owner_id, value: @user.id %>

  <div>
    <%= form.submit %>
  </div>
<% end %>
